/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

@mixin back($color, $image, $position) {
    background-color: $color;
    background-image: $image;
    background-repeat:no-repeat;
    background-position: $position;
}



body { 
    font-size: 1em;
    font-family: 'calibri', sans-serif;
    p{
        font-size:13px;
        margin-bottom:1.2em;
        color:#4d4d4d;
    }
    h1, .clearfix{
        line-height: 1em;
    }
}

.left{
    float: left;
}
.right{
    float:right;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/*****Fontes*****/

.ui-carousel {
    height: 100px;
    margin: 0;
    overflow: auto;
    padding: 0;
    position: relative; /*for ie7 to work e.g in html carousels*/
    width: 300px
}

.ui-carousel > .wrapper {
    margin: 0;
    padding: 0;
    width: 9999px;
}

.ui-carousel > .wrapper > * {
    border: 0;
    display: block;
    float: left;
    height: 100px;
    overflow: hidden;
    width: 100px;   
}



@font-face {
    font-family: 'ubuntucondensed';
    src: url('../fonts/ubuntu-c.eot');
    src: url('../fonts/ubuntu-c.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ubuntu-c.woff') format('woff'),
         url('../fonts/ubuntu-c.ttf') format('truetype'),
         url('../fonts/ubuntu-c.svg#ubuntu-c') format('svg');
    font-weight: normal;
    font-style: normal;
}

$ubuntu: 'ubuntucondensed', 'arial', 'helvetica', sans-serif; 
$corpo: normal 14px "Georgia", Times, sans-serif;
$h1: normal 20px "ubuntucondensed", Arial, sans-serif;


/*****Cores*****/

$dourado: #bdb566;
$roxo: #380c3d;
$bronze: #8c883f;
$branco: #fff;
$preto: #000;

/*****Estilos gerais*****/

.inner{
    width:950px;
    margin: 0 auto;
    position: relative;
}

#main.home{
    p{font-size:13px !important;}
}
#main{
    .inner{
        background:url(../img/sombra-conteudo.png);
        background-repeat: repeat-y;
        width: 930px;
        min-height: 500px;
        padding: 15px 10px 15px 20px;
        margin-top: -35px;
        p{
            font: $corpo;
            line-height:1.5em;
        }
        h1{
            font: $h1;
            color: $roxo;
            margin-top:0;
            &.page{
                width: 905px;
                margin: 0;
                margin-bottom: 22px;
                font-size: 29px;
                background: url(../img/bg-dourado.png) repeat;
                line-height: 29px;
                padding: 13px 0 15px 15px;
                text-transform: uppercase;
            }
        }
    }
}

.pagination.center,
.pagination.center ul {
    float: left;
    position: relative;
}
.pagination.center { left: 50%; }
.pagination.center ul { left: -50%; }
.pagination ul li{
    float: left; 
    list-style-type: none;
    margin-right:5px;
    a, a:visited{
        text-decoration: none;
        color: #4d4d4d;
        font-family: $ubuntu;
        font-size: 14px;
    }
}

/*****Cabeçalho*****/
body > header{
    width:100%;
    height: 220px;
    background: url(../img/bg-roxo.png) repeat;
    #logo-maior{
        display:block;
        width:207px;
        height: 145px;
        margin-top:20px;
        margin-left: -6px;
        float:left;
    }
    #logo-menor{
        position:absolute;
        width: 55px;
        height: 45px;
        margin-top: -74px;
        margin-left: 73px;
    }
    #frase{
        position: absolute;
        top: 31px;
        left: 230px;
        p{
            font-family: 'Georgia', 'Times New Roman', serif;
            font-size:20px;
            color: $dourado;
            font-style: italic;
        }
    }
    .linha-topo{
        width:100%;
        height: 5px;
        background-color: $dourado;
    }
    .linha-pre{
        width:74px;
        height: 1px;
        background-color: $dourado;
        margin-top: -54px;
        float:left;
    }
    .linha-pos{
        width:827px;
        height: 1px;
        background-color: $dourado;
        position: absolute;
        top: 111px;
        right: 0;
    }
    .contato{
        margin-top:29px;
        margin-right: 40px;
        float:right;
        .contato-fb {
            width: 24px;
            height: 24px;
            display: block;
            text-indent: -9999px;
            background: url('../img/facebook.png') no-repeat center $bronze;
            border-radius: 24px;
            position: absolute;
            right: 0;
            top: 50px;
            &:hover { background-color: $dourado; }
        }
        p{
            margin-top:0;
            font-family: $ubuntu;
            font-size: 16px;
            color: $dourado;
            margin-bottom: 4px;
            text-align: right;
            small{
                font-size: 14px;
                color: $bronze;
                a {
                    color: $bronze;
                    text-decoration: none;
                    &:hover {
                        color: $dourado;
                    }
                }
            }
        }
    }
    nav{
        position: absolute;
        right: 0;
        top: 128px;
        ul{
            float:right;
            margin:0;
            padding:0;
            list-style-type:none;
            li{
                float:left;
                a, a:visited{
                    font-family: $ubuntu;
                    font-size: 14px;
                    color: $branco;
                    text-transform: uppercase;
                    text-decoration: none;
                    padding: 18px 15px 11px;
                    line-height: 1em;
                    &:hover, &.active{
                        background: $dourado;
                        color: $roxo;
                    }
                }
                &:last-child { margin-left: -1px; }
            }
        }
    }
}

.entrevistas-home{
    float:left;
    width:265px;
    margin-left:25px;
    h1, h1 a, h2, h2 a{color:#8c883f !important;}
    h2{margin-bottom: 0;}
    p{
        margin-top: 10px;
        line-height:1.5em !important;
        border-bottom: solid 1px #ddd;
        height:54px;
        a{
            text-decoration: none;
            color:inherit;
        }
        .more{
            color:#ba953d;
            font-size:19px !important;
        }
    }
    h2 a{
        text-decoration:none;
        font-weight:normal;
        font-family: $ubuntu;
        font-size:16px;
        display:block;
        line-height:1.2em;
    }
    a.more{
        color:#8C883F;
        text-decoration:none;
        font-size:17px;
    }
}

/*****Home*****/
#main.home{
    .inner{
        #banner{
            width:630px;
            height:250px;
            float:left;
            margin-bottom: 24px;
        }
        #banner-texto {
            width: 289px;
            height: 250px;
            background: $dourado;
            float: right;
            position: relative;
            #slide-titulo {
                display: block;
                width: 88%;
                margin: 15px auto 0;
                color: $roxo;
                font: normal 22px/1.3 'ubuntucondensed', Arial, sans-serif !important;
                text-decoration: none;
                &:hover { color: lighten($roxo, 6%); }
            }
            a.control {
                position: absolute;
                bottom: 0;
                width: 50%;
                height: 38px;
                text-indent: -9999px;
                background: $dourado;
                border-top: 1px solid #fff;
                background-position: center;
                &:hover { background: $bronze; background-position: center; }
                &#control-next {
                    background-image: url('../img/control-next.png');
                    right: 0;
                    border-left: 1px solid #fff;
                }
                &#control-prev {
                    background-image: url('../img/control-prev.png');
                    left: 0;
                }
            }
        }
        .chamadas{
            width:595px;
            margin-left:5px;
            margin-right: 5px;
            float:left;
            .chamada{
                width:271px;
                margin-right: 45px;
                float:left;
                p{
                    line-height: 1.3em;
                    font-size: 13px;
                    height:65px;
                }
                &#chamada-atuacao{
                    margin-right: 3px;
                    float: right;
                }
                #more, #more:visited{
                    font: $corpo;
                    font-weight: bold;
                    font-size: 16px;
                    color: $roxo;
                    text-decoration: none;
                    &:hover {
                        color: $bronze;
                    }
                }
            }
            .separador-horizontal{
                width: 590px;
                height: 7px;
                margin: 27px 0 10px;
                background: url(../img/separador-horizontal.png);
            }
            .noticia-bloco{
                width: 180px;
                float: left;
                padding-left: 7px;
                border-left: solid 1px $bronze;
                margin-right: 13px;
                header{
                    height: 35px;
                    background: none;
                    h1, a, a:visited{
                        font-size: 16px;
                        color: $dourado;
                        text-decoration: none;
                    }
                }
                .conteudo{
                    margin-top: 8px;
                    height: 32px;
                    p{
                        margin: 0;
                        font-size: 13px;
                    }
                    .more, .more:visited{
                        text-decoration: none;
                        color: $dourado;
                        font-size: 14px;
                    }
                }
            }
        }
        .separador-vertical{
                width: 7px;
                height: 296px;
                margin: 0 30px 0 20px;
                background: url(../img/separador-vertical.png);
                float: left;
            }
        
        .eventos{
            width:590px;
            float: left;
            min-height: 133px;
            h1{
                color: $bronze;
                margin-top:12px;
            }
            .evento-bloco{
                float:left;
                width:280px;
                height: 63px;
                border-bottom: solid 1px $bronze;
                margin-bottom: 20px;
                &.segundo{
                    float:right;
                }
                &:hover{
                    .evento-data{
                        background:#666;
                        color:#BCBCBC;
                    }
                }
            }
            .evento-data{
                width:83px;
                height:63px;
                float: left;
                background: $bronze;
                text-align:center;
                p{
                    color: #fff;
                    font-family: $ubuntu;
                    margin: 0;
                    line-height:1em !important;
                    &.data-dia{
                        font-size: 30px !important;
                        margin-top: 7px;
                    }
                    &.data-mes{
                        font-size: 16px !important;
                    }
                }
            }
            .evento-titulo{
                float: left;
                width:185px;
                padding-left: 10px;
                h1{
                    color:#666;
                    margin-top:0;
                    font-size:16px;

                }
            }
            h1{
                a, a:visited{
                    text-decoration: none;
                    color: #666;
                    font-size: 16px;
                }
            }
        }
        .entrevistas-home{
            h1{
                color:$bronze;
            }
            .more{
                text-decoration:none;
                color:$bronze;
                font-size:17px;
            }
            a{
                text-decoration:none;
                color:#4d4d4d;
                &:hover {
                    color: $bronze;
                }
            }
        }
    }
    .separador-parceiros{
        display:block;
        margin:0 auto;
        width: 890px;
        height: 7px;
        margin-top:28px;
        background: url(../img/separador-horizontal.png);
    }
    .parceiros-container{
        display: block;
        width:890px;
        margin:0 auto;
        position: relative;
        h1{
            margin-top:28px;
            color:#554B56;
            margin-bottom: 31px;
        }
    }
    .parceiros-slider-wrapper{
        display:block; 
        width:800px;
        margin:0 auto;
        margin-bottom:15px;
    }
    .parceiro{
        text-align:center;
    }
    #ui-carousel-next, #ui-carousel-prev{
        display:block;
        width: 11px;
        height: 20px;
        background:url(../img/esquerda.png);
        position:absolute;
        text-indent: -9999px;
        top:86px;
        left:0;
        z-index:2000;
    }
    #ui-carousel-next{
        background:url(../img/direita.png);
        left:auto;
        right:0;
    }
}
.sombra-parceiros{
        width:100%;
        height:190px;
        position:relative;
        background:rgba(0, 0, 0, 0.2);
        margin-top:-190px;
        z-index:1000;
    }
#main.home{
    .noticias-widget{
    width:880px;
    min-height:130px;
    padding:20px;
    background:#DDD;
    margin:3px 0 25px 0;
    h1{
        font-size:24px !important;
        display:inline-block;
        float: left;
        margin-bottom: 20px;
    }
    .barra-topo{
        width:586px;
        height:1px;
        background: #BEB4BF;
        float:left;
        margin:23px 0 0 10px;
    }
    .todas{
        font-family: $ubuntu;
        text-decoration: none;
        color:#968F9F;
        margin-top:10px;
        display:block;
        float:left;
        margin:8px 0 0 12px;
        &:hover {
            color: $roxo;
        }
    }
    .noticia-bloco{
        float:left;
        width:240px;
        padding-left:46px;
        padding-right:33px;
        h2{
            font-family: $ubuntu;
            font-size:16px;
            font-weight: normal;
            margin-top:0;
            margin-bottom:5px;
            a{
                text-decoration: none;
                color:#43124A;
                &:hover {
                    color: $bronze;
                }
            }
        }
        p{
            margin:0;
            margin-top:3px;
            font-size:14px !important;
            a{
                color:inherit;
                text-decoration: none;
            }
        }
        a.more{
            text-decoration: none;
            font-size: 17px;
            color: #421149 !important;
        }
    }
    .separador-vertical-noticias{
        width:1px;
        height:110px;
        background:#FFF;
        float:left;
    }
}
    .boletins{
        h1{
            margin-bottom:4px;
        }
        span{
            font-family: 'Georgia', 'Times New Roman', serif;
            font-size:12px;
            color:#535353;
            margin-bottom:3px;
        }
        form{
            margin-top:4px;
        }
        .inputs{
            width:235px;
            float:left;
            input{
                width: 225px;
                padding-left:10px; 
                height:33px;
                background:#DDD;
                border:none;
                margin-bottom:4px;
                font-family: $ubuntu;
                color:#5E5E5E;
            }
            ::-webkit-input-placeholder { color:#5E5E5E; }
            ::-moz-placeholder { color:#5E5E5E; } /* firefox 19+ */
            :-ms-input-placeholder { color:#5E5E5E; } /* ie */
            input:-moz-placeholder { color:#5E5E5E; }
        }
        input[type="submit"]{
            width:17px;
            height:74px;
            float:left;
            border:none;
            outline:none;
            @include back($roxo, url(../img/submit-boletins.png), center center);
            margin-left:6px;
            &:hover {
                background-color: $bronze;
            }
        }
    }
    .ipade{
        display:block;
        float:left;
        width: 258px;
        height: 150px;
        border: 1px solid #DDD;
        background: url(../img/ipade.png) no-repeat center;
        text-align:center;
        font-family: $ubuntu;
        text-decoration:none;
        margin-top:16px;
        span{display:block;}
        .cinza{
            font-size:18px;
            color:#5E5E5E;
            margin-top:22px;
        }
        .maior{
            font-size:26px;
            color:$roxo;
            margin-top:0px;
        }
        .menor{
            font-size:18px;
            color:$roxo;
        }
        &:hover {
            border-color: $roxo;
        }
    }
}




/*****Apresentação*****/
#main{
    &.apresentacao{
        .inner{
            .content{
                width: 905px;
                float:left;
                margin-left:15px;
                p{
                    margin-top: 0;
                    width: 100%;
                    line-height: 1.5em;
                }
            }
            .sidebar{
                width: 260px;
                float: right;
                margin-right: 15px;
                h1{
                    margin-top: -3px;
                    font-size: 18px;
                }
                p{
                    font-size: 16px;
                    margin:0;
                    font-family: $ubuntu;
                    line-height: 1.4em;
                    small{
                        font-size: 14px;
                    }
                }
                .links{
                    .parceiros-accordion{
                        border-top:solid 1px #c9c9c9;
                        p{
                            font-size:14px;
                            margin-top:10px;
                            margin-bottom:25px;
                        }
                        .ui-accordion-content{
                            border-bottom: solid 1px #c9c9c9;
                        }
                    }
                    h3{
                        display: block;
                        width: 260px;
                        padding: 12px 0;
                        text-decoration: none;
                        font-family: $ubuntu;
                        font-size: 14px;
                        color: #4d4d4d;
                        border-bottom: solid 1px #c9c9c9;
                        background: url(../img/seta.png);
                        background-position: 247px center;
                        background-repeat: no-repeat;
                        margin:0;
                        font-weight:normal;
                        cursor: pointer;
                        outline:none;
                    }
                    margin-top: 34px;
                    ul{
                        margin: 0;
                        padding: 0;
                        list-style-type: none;
                        li{
                            a, a:visited{
                                display: block;
                                width: 260px;
                                padding: 12px 0;
                                text-decoration: none;
                                font-family: $ubuntu;
                                font-size: 14px;
                                color: #4d4d4d;
                                border-bottom: solid 1px #c9c9c9;
                                background: url(../img/seta.png);
                                background-position: 247px center;
                                background-repeat: no-repeat;
                            }
                        }
                    }
                }
            }
        }
    }
}

/*****Equipe*****/

#main{
    &.equipe{
        .inner{
            .integrante-wrapper{
                margin-bottom:42px;
                &.principal{
                    .integrante-nome{
                        background:none;
                        font-size:25px;
                        height:25px;
                        line-height:25px;
                        margin-top:0;
                    }
                }
            }
            .integrante-imagem{
                width:216px;
                float:left;
                margin-left:14px;
            }
            .integrante-nome{
                width:656px;
                height:43px;
                background:#D4CD89;
                padding-left:34px;
                line-height:48px;
            }
            .integrante-conteudo{
                width:690px;
                float:left;
            }
            .integrante-descricao{
                width:630px;
                margin-left:34px;
                a {
                    color: $roxo;
                }
            }
        }
    }
}

/*****Atuação*****/
#main{
    &.atuacao{
        .inner{
            .content{
                width: 580px;
                float: left;
                margin-left:50px;
                margin-right: 15px;
                .text{
                    p{
                        margin: 0;
                        margin-bottom: 10px;
                    }
                    ul{
                        padding-left:22px;
                        li{
                            font: $corpo;
                            color: #4d4d4d;
                            margin-bottom: 5px;
                        }
                    }
                }
            }
            .sidebar{
                width: 260px;
                float: left;
                margin-left:15px;
                .links{
                    margin-top: 5px;
                    ul{
                        margin: 0;
                        padding: 0;
                        list-style-type: none;
                        li{
                            a, a:visited{
                                display: block;
                                width: 260px;
                                padding: 12px 0;
                                text-decoration: none;
                                font-family: $ubuntu;
                                font-size: 13px;
                                color: #4d4d4d;
                                border-bottom: solid 1px #c9c9c9;
                                background: url(../img/seta.png);
                                background-position: 247px center;
                                background-repeat: no-repeat;
                                &.active, &:hover{
                                    color: $roxo;
                                    background: url(../img/seta-active.png);
                                    background-position: 247px center;
                                    background-repeat: no-repeat;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/*****Notícias*****/
#main{
    &.noticias{
        .noticia-arquivo{
            width:73px;
            padding-left: 41px;
            height:28px;
            line-height:26px;
            text-decoration: none;
            font-size:16px !important;
            margin:14px auto 24px auto;
            @include back(#DDD, url(../img/icone-pdf.png), 17px center);
        }
        .inner{
            .content{
                width: 580px;
                float: left;
                margin-left:50px;
                margin-right: 15px;
                a{
                    display: block;
                }
                img{
                    float:left;
                    border: solid 1px #c9c9c9;
                    margin: 3px 12px 1px 0;
                }
                .text{
                    p{
                        margin: 0;
                        margin-bottom: 10px;
                    }
                    ul, ol{
                        padding-left:22px;
                        li{
                            font: $corpo;
                            color: #4d4d4d;
                            margin-bottom: 5px;
                        }
                    }
                    article{
                        border-bottom: solid 1px #c9c9c9;
                        &.post{
                            border-bottom: none;
                        }
                        .voltar, .voltar:visited{
                                display: block;
                                width: 556px;
                                font-family: $ubuntu;
                                font-size: 14px;
                                color: $roxo;
                                text-transform: uppercase;
                                text-decoration: none;
                                padding: 12px 0 12px 20px;
                                border-bottom: solid 1px #c9c9c9;
                                border-top: solid 1px #c9c9c9;
                                background: url(../img/seta-voltar-active.png);
                                background-position: center left;
                                background-repeat: no-repeat;
                                margin-top: 10px;
                        }
                    }
                    .conteudo{
                        a, a:visited{
                            font-family: $ubuntu;
                            font-size: 12px;
                            color: $roxo;
                        }
                        .data{
                            font: $corpo;
                            p{
                                margin-top:15px;
                                margin-bottom: 0;
                            }
                        }
                        h1{
                            margin-top:0;
                            a, a:visited{
                                text-decoration: none;
                                color: $roxo;
                                font-size: 20px;
                            }
                        }
                    }
                    &.post{
                        p{
                            margin: 0;
                            margin-bottom: 10px;
                        }
                        ul{
                            padding-left:22px;
                            li{
                                font: $corpo;
                                color: #4d4d4d;
                                margin-bottom: 5px;
                            }
                        }
                        article{
                            border:none;
                        }
                        .conteudo{
                            .data{
                                font: $corpo;
                                padding: 12px 0;
                                border-bottom: solid 1px #c9c9c9;
                                border-top: solid 1px #c9c9c9;
                                p{
                                    margin:0;
                                    font-size: 14px;
                                }
                            }
                            h1{
                                margin-top:11px;
                            }
                            .resumo{
                                font-size: 13px;
                                font-style: italic;
                                padding: 12px;
                                margin: 0;
                                background: url(../img/bg-dourado.png);
                                margin-bottom:12px;
                            }
                        }
                    }
                }
            }
            .sidebar{
                width: 260px;
                float: left;
                margin-left:15px;
                .links{
                    margin-top: 5px;
                    ul{
                        margin: 0;
                        padding: 0;
                        list-style-type: none;
                        li{
                            a, a:visited{
                                display: block;
                                width: 260px;
                                padding: 12px 0;
                                text-decoration: none;
                                font-family: $ubuntu;
                                font-size: 14px;
                                color: #4d4d4d;
                                border-bottom: solid 1px #c9c9c9;
                                background: url(../img/seta.png);
                                background-position: 247px center;
                                background-repeat: no-repeat;
                                &.active, &:hover{
                                    color: $roxo;
                                    background: url(../img/seta-active.png);
                                    background-position: 247px center;
                                    background-repeat: no-repeat;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/*****Atuação*****/
#main{
    &.agenda{
        .inner{
            .content{
                width: 580px;
                float: left;
                margin-left:50px;
                margin-right: 15px;
                .text{
                    #accordion{
                        border-bottom: solid 1px #c9c9c9;
                        .ui-state-active, .ui-accordion-content-active{
                            background-color: #f4f9f4;
                        }
                        .ui-accordion-content-active{
                            padding-bottom: 5px;
                        }
                        .ui-accordion-header{
                            padding-left: 32px;
                            background-image: url(../img/agenda-mais.png);
                            background-repeat: no-repeat;
                            background-position: left 14px;
                            &.ui-state-active{
                                background-image: url(../img/agenda-menos.png);
                                background-repeat: no-repeat;
                                background-position: left 14px;
                            }
                        }
                        .ui-accordion-content{
                            padding-left: 32px;
                            padding-right: 32px;
                            padding-bottom: 12px;
                            a{
                                color: $roxo;
                            }
                        }
                        .header, .header:visited{
                            display: block;
                            width: 548px;
                            padding-top: 12px;
                            padding-bottom: 12px;
                            border-top: solid 1px #c9c9c9;
                            text-decoration: none;
                            outline: none;
                            h1{
                                margin: 0;
                                font-size: 20px;
                            }
                            p{
                                margin: 0;
                                font-size: 15px;
                                color: #4d4d4d;
                            }
                        }
                    }
                    .evento-realizado p{
                        margin-bottom: 10px;
                    }
                    p{
                        margin: 0;
                        margin-bottom: 3px;
                        color: $roxo;
                        font-size: 13px;
                    }
                    ul{
                        padding-left:22px;
                        li{
                            font: $corpo;
                            color: #4d4d4d;
                            margin-bottom: 5px;
                        }
                    }
                    article{
                        border-bottom: solid 1px #c9c9c9;
                        &.post{
                            border-bottom: none;
                        }
                    }
                    .conteudo{
                        .data{
                            font: $corpo;
                            p{
                                margin-top:15px;
                                margin-bottom: 0;
                            }
                        }
                        h1{
                            margin-top:0;
                            a, a:visited{
                                text-decoration: none;
                                color: $roxo;
                            }
                        }
                    }
                    &.post{
                        p{
                            margin: 0;
                            margin-bottom: 10px;
                        }
                        ul{
                            padding-left:22px;
                            li{
                                font: $corpo;
                                color: #4d4d4d;
                                margin-bottom: 5px;
                            }
                        }
                        article{
                            border:none;
                        }
                        .conteudo{
                            .data{
                                font: $corpo;
                                padding: 12px 0;
                                border-bottom: solid 1px #c9c9c9;
                                border-top: solid 1px #c9c9c9;
                                p{
                                    margin:0;
                                    font-size: 14px;
                                }
                            }
                            h1{
                                margin-top:11px;
                            }
                            .resumo{
                                font-size: 13px;
                                font-style: italic;
                                padding: 12px;
                                margin: 0;
                                background: url(../img/bg-dourado.png);
                                margin-bottom:12px;
                            }
                            .voltar, .voltar:visited{
                                display: block;
                                width: 100%;
                                font-family: $ubuntu;
                                font-size: 14px;
                                color: $roxo;
                                text-transform: uppercase;
                                text-decoration: none;
                                padding: 12px 0 12px 20px;
                                border-bottom: solid 1px #c9c9c9;
                                border-top: solid 1px #c9c9c9;
                                background: url(../img/seta-voltar-active.png);
                                background-position: center left;
                                background-repeat: no-repeat;                            }
                        }
                    }
                }
            }
            .sidebar{
                width: 260px;
                float: left;
                margin-left:15px;
                .links{
                    margin-top: 5px;
                    ul{
                        margin: 0;
                        padding: 0;
                        list-style-type: none;
                        li{
                            a, a:visited{
                                display: block;
                                width: 260px;
                                padding: 12px 0;
                                text-decoration: none;
                                font-family: $ubuntu;
                                font-size: 14px;
                                color: #4d4d4d;
                                border-bottom: solid 1px #c9c9c9;
                                background: url(../img/seta.png);
                                background-position: 247px center;
                                background-repeat: no-repeat;
                                &.active, &:hover{
                                    color: $roxo;
                                    background: url(../img/seta-active.png);
                                    background-position: 247px center;
                                    background-repeat: no-repeat;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


/*****Na Mídia***/
.midia{
    .sidebar{
        float:left;
        width:282px;
        margin-left:15px;
        .imprensa-imagem{
            border:solid 1px #D0D0D0;
        }
        .imprensa-contatos{
            width:246px;
            height:183px;
            padding-left:36px;
            margin-top:20px;
            @include back(#DDD, url(../img/marca-br7.png), 160px 71px); 
            h1{
                font-size:25px !important;
                margin-top:24px !important;
            }
            font-family:$ubuntu;
            color: #5F5F5F;
            font-size:18px;
            .imprensa-nome{
                margin-bottom:14px;
            }
            .imprensa-telefone1{
                margin-bottom:3px;
            }
        }
    }
    .content{
        width:580px;
        float:right;
        margin-right:15px;
        .post{
            p{
                margin: 0;
                margin-bottom: 10px;
            }
            ul{
                padding-left:22px;
                li{
                    font: $corpo;
                    color: #4d4d4d;
                    margin-bottom: 5px;
                }
            }
            article{
                border:none;
            }
            .conteudo{
                .data{
                    font: $corpo;
                    padding: 12px 0;
                    border-bottom: solid 1px #c9c9c9;
                    border-top: solid 1px #c9c9c9;
                    p{
                        margin:0;
                        font-size: 14px;
                    }
                }
                h1{
                    margin-top:11px !important;
                }
                .resumo{
                    font-size: 13px;
                    font-style: italic;
                    padding: 12px;
                    margin: 0;
                    background: url(../img/bg-dourado.png);
                    margin-bottom:12px;
                }
            }
        }
    }
    article{
        border-bottom: solid 1px #c9c9c9;
        &.post{
            border-bottom: none;
        }
        .voltar, .voltar:visited{
                display: block;
                width: 556px;
                font-family: $ubuntu;
                font-size: 14px;
                color: $roxo;
                text-transform: uppercase;
                text-decoration: none;
                padding: 12px 0 12px 20px;
                border-bottom: solid 1px #c9c9c9;
                border-top: solid 1px #c9c9c9;
                background: url(../img/seta-voltar-active.png);
                background-position: center left;
                background-repeat: no-repeat;
                margin-top: 10px;
        }
    }
    .conteudo{
        a, a:visited{
            font-family: $ubuntu;
            font-size: 12px;
            color: $roxo;
        }
        .data{
            font: $corpo;
            p{
                margin-top:15px;
                margin-bottom: 0;
            }
        }
        h1{
            margin-top:0;
            a, a:visited{
                text-decoration: none;
                color: $roxo;
                font-size: 20px;
            }
        }
    }
}

/*****Fotos*****/

.galeria, .galeria:visited{
            display:block;
            width: 178px;
            float: left;
            margin-right: 20px;
            text-decoration: none;
            outline: none;
            &:hover{
                img{
                    border: solid 1px $roxo;
                }
                h1{
                    color: $roxo;
                }
            }
            h1{
                font-size: 14px;
                color: #4d4d4d;
            }
            img{
                border: solid 1px #A8A8A8;
            }
        }

#main{
    &.fotos{
        .galeria, .galeria:visited{
            display:block;
            width: 200px;
            float: left;
            margin: 10px;
            text-decoration: none;
            outline: none;
            &:hover{
                img{
                    border: solid 1px $roxo;
                }
                h1{
                    color: $roxo;
                }
            }
            h1{
                font-size: 14px;
                color: #4d4d4d;
            }
            img{
                border: solid 1px #A8A8A8;
            }
        }
    }
}
.pp_description{
        p{
        color: #fff;
        margin-top: 0;
    }
}

.thumbs{
    margin-top: 25px;
}
.ppt{
    display:none;
}
    footer{
        width: 100%;
        height: 43px;
        background: url(../img/bg-roxo.png);
        .copy{
            display:block;
            float: left;
            font: $corpo;
            color: #fff;
            font-size: 11px;
            line-height: 43px;
            padding-left: 25px;
        }
        .trupe{
            display:block;
            float: right;
            font: $corpo;
            color: #fff;
            font-size: 11px;
            line-height: 43px;
            padding-right: 25px;
            a, a:visited{
                color: #fff;
            }
        }

    }

#main{
    &.links{
        .inner{
            img{
                float: left;
                border: solid 1px #c9c9c9;
                margin-left: 14px;
            }
            .sidebar{
                width: 583px;
                float: right;
                margin-right:15px;
                .links{
                    ul{
                        margin: 0;
                        padding: 0;
                        list-style-type: none;
                        li{
                            a, a:visited{
                                display: block;
                                width: 583px;
                                padding: 12px 0;
                                text-decoration: none;
                                font-family: $ubuntu;
                                font-size: 14px;
                                color: #4d4d4d;
                                border-bottom: solid 1px #c9c9c9;
                                background: url(../img/seta.png);
                                background-position: 570px center;
                                background-repeat: no-repeat;
                                &.active, &:hover{
                                    color: $roxo;
                                    background: url(../img/seta-active.png);
                                    background-position: 570px center;
                                    background-repeat: no-repeat;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/*
 * Contato
 */
.roxo{
    color: $roxo;
}
#ajax-loader{
    display:none;
}
#main{
    &.contato{
        .inner{
            .mostrar_end { margin-right: 40px; }
            #endereco-contato{
                p{
                    font-family: $ubuntu;
                    font-size: 22px;
                    margin: 0;
                }
            }
            .frame-contato{
                border: solid 1px #c9c9c9;
                margin-top: 14px;
            }
            .right{
                margin-right: 14px;
            }
            #endereco-mail{
                h1{
                    font-size: 28px;
                    margin-top: -4px;
                }
                p{
                    font-size: 22px;
                    color: $roxo;
                    margin: 0;
                    font-family: $ubuntu;
                }
                a {
                    color: $roxo;
                    text-decoration: none;
                    &:hover { color: $bronze; }
                }
            }
            #endereco-correspondente{
                h1{
                    font-size: 22px;
                    margin: 0;
                    margin-top:10px;
                }
                p{
                    font-family: $ubuntu;
                    font-size: 20px;
                    margin: 0;
                }
            }
            .form{
            width:390px;
            margin-bottom: 10px;
             .hasPlaceholder {
                color: #6d6d6d;
                font-family: $ubuntu;
                font-size: 13px;
                line-height:32px;
            }
            #message{
                    font-family: $ubuntu;
                    font-size: 13px;
                    margin-bottom:6px;
                    p{
                        font-family: $ubuntu;
                    }
                }
            form{
                width:100%;
                input[type="text"], textarea{
                    width:378px;
                    padding-left:10px;
                    border: solid 1px $roxo; 
                    color: #6d6d6d;
                    font-family: $ubuntu;
                    font-size: 13px;
                    margin-bottom:6px;
                }
                textarea{
                    width:376px;
                    height: 235px;
                    line-height:32px;
                }
                input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { 
                    color: #6d6d6d;
                    font-family: $ubuntu;
                    font-size: 13px;
                    line-height:32px;
                }
                input:-moz-placeholder, textarea:-moz-placeholder { 
                    color: #6d6d6d;
                    font-family: $ubuntu;
                    font-size: 13px;
                    line-height:32px;
                }
                input[type="text"]{
                    height: 32px;
                    line-height:32px;
                }
                #submit{
                    width: 110px;
                    height: 36px;
                    background: $roxo;
                    border: none;
                    outline: none;
                    color:#fff;
                    font-size: 15px;
                    font-family: $ubuntu;
                    text-transform: uppercase;
                    float:right;
                }
            }
        }
        }
    }
}

/*
 * Fancybox
 */

/*! fancyBox v2.1.3 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp
{
    padding: 0;
    margin: 0;
    border: 0;
    outline: none;
    vertical-align: top;
}

.fancybox-wrap {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 8020;
}

.fancybox-skin {
    position: relative;
    background: #af8250;
    color: #444;
    text-shadow: none;
    border: solid 10px #fff;
}

.fancybox-opened {
    z-index: 8030;
}

.fancybox-opened .fancybox-skin {
    -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
       -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
            box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.fancybox-outer, .fancybox-inner {
    position: relative;
}

.fancybox-inner {
    overflow: hidden;
}

.fancybox-type-iframe .fancybox-inner {
    -webkit-overflow-scrolling: touch;
}

.fancybox-error {
    color: #444;
    font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 0;
    padding: 15px;
    white-space: nowrap;
}

.fancybox-image, .fancybox-iframe {
    display: block;
    width: 100%;
    height: 100%;
}

.fancybox-image {
    max-width: 100%;
    max-height: 100%;
}

.fancybox-prev span{
    background: url('../img/seta-retrocede.png');
}

.fancybox-next span{
    background: url('../img/seta-avanca.png');
}


#fancybox-loading, .fancybox-close, {
    background-image: url('../img/fancybox_sprite.png');
}

#fancybox-loading {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -22px;
    margin-left: -22px;
    background-position: 0 -108px;
    opacity: 0.8;
    cursor: pointer;
    z-index: 8060;
}

#fancybox-loading div {
    width: 44px;
    height: 44px;
    background: url('../img/fancybox_loading.gif') center center no-repeat;
}

.fancybox-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    cursor: pointer;
    z-index: 8040;
    background: url('../img/close.png');
}

.fancybox-nav {
    position: absolute;
    top: 0;
    width: 40%;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
    background: transparent url('../img/blank.gif'); /* helps IE */
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    z-index: 8060;
}

.fancybox-prev {
    left: 0;
}

.fancybox-next {
    right: 0;
}
.fancybox-nav.fancybox-next{
    left: 0;
}
.fancybox-next span {
    left: 71px;
}
.fancybox-nav span {
    position: absolute;
    bottom: 0;
    width: 14px;
    height: 27px;
    margin-bottom: 16px;
    margin-left: 36px;
    cursor: pointer;
    z-index: 8080;
}

.fancybox-prev span {
    left: -15px;
}

.fancybox-next span {
    right: -15px;
}

.fancybox-nav:hover span {
    visibility: visible;
}

.fancybox-tmp {
    position: absolute;
    top: -99999px;
    left: -99999px;
    visibility: hidden;
    max-width: 99999px;
    max-height: 99999px;
    overflow: visible !important;
}

/* Overlay helper */

.fancybox-lock {
    overflow: hidden;
}

.fancybox-overlay {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    display: none;
    z-index: 8010;
    background: url('../img/fancybox_overlay.png');
}

.fancybox-overlay-fixed {
    position: fixed;
    bottom: 0;
    right: 0;
}

.fancybox-lock .fancybox-overlay {
    overflow: auto;
    overflow-y: scroll;
}

/* Title helper */

.fancybox-title {
    font: normal 13px/20px "ubuntu",Helvetica,Arial,sans-serif;
    position: relative;
    text-shadow: none;
    z-index: 8050;
}

.fancybox-opened .fancybox-title {
    visibility: visible;
}

.fancybox-title-float-wrap {
    position: absolute;
    bottom: 0;
    margin-bottom: 0;
    z-index: 8050;
    text-align: center;
}

.fancybox-title-float-wrap .child {
    display: inline-block;
    margin-right: 0%;
    padding: 0px 56px;
    background: transparent; /* Fallback for web browsers that doesn't support RGBa */
    background: $dourado;
    opacity: .8;
    color: #4d4d4d;
    font-weight: bold;
    height: 60px;
    line-height: 60px;
    white-space: nowrap;
    font-family: $ubuntu;
}

.fancybox-title-outside-wrap {
    position: relative;
    margin-top: 10px;
    color: #fff;
}

.fancybox-title-inside-wrap {
    padding-top: 10px;
}

.fancybox-title-over-wrap {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    padding: 10px;
    background: #000;
    background: rgba(0, 0, 0, .8);
}
#desc{
     position: relative;
    height: 60px;
    margin-top: -60px;
    padding-left: 142px;
}
#descin{
    height: 48px;
    background:  $roxo;
    opacity: .8;
    padding-left:17px;
    padding-top:12px;
    p{
        font-family: $ubuntu;
        color: $branco;
        margin:0;
    }
}

.banners-wrapper{
    width:920px;
    height:250px;
    float:left;
    margin-bottom: 24px;
}

/*Prettyphoto*/


    /* ==========================================================================
       Helper classes
       ========================================================================== */

    /*
     * Image replacement
     */

    .ir {
        background-color: transparent;
        border: 0;
        overflow: hidden;
        /* IE 6/7 fallback */
        *text-indent: -9999px;
    }

    .ir:before {
        content: "";
        display: block;
        width: 0;
        height: 100%;
    }





/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}





/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}