@charset "CP850";
/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html,
button,
input,
select,
textarea {
  color: #222; }

body {
  font-size: 1em;
  font-family: 'calibri', sans-serif; }
  body p {
    font-size: 13px;
    margin-bottom: 1.2em;
    color: #4d4d4d; }
  body h1, body .clearfix {
    line-height: 1em; }

.left {
  float: left; }

.right {
  float: right; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */
img {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/*****Fontes*****/
.ui-carousel {
  height: 100px;
  margin: 0;
  overflow: auto;
  padding: 0;
  position: relative;
  /*for ie7 to work e.g in html carousels*/
  width: 300px; }

.ui-carousel > .wrapper {
  margin: 0;
  padding: 0;
  width: 9999px; }

.ui-carousel > .wrapper > * {
  border: 0;
  display: block;
  float: left;
  height: 100px;
  overflow: hidden;
  width: 100px; }

@font-face {
  font-family: 'ubuntucondensed';
  src: url("../fonts/ubuntu-c.eot");
  src: url("../fonts/ubuntu-c.eot?#iefix") format("embedded-opentype"), url("../fonts/ubuntu-c.woff") format("woff"), url("../fonts/ubuntu-c.ttf") format("truetype"), url("../fonts/ubuntu-c.svg#ubuntu-c") format("svg");
  font-weight: normal;
  font-style: normal; }

/*****Cores*****/
/*****Estilos gerais*****/
.inner {
  width: 950px;
  margin: 0 auto;
  position: relative; }

#main.home p {
  font-size: 13px !important; }

#main .inner {
  background: url(../img/sombra-conteudo.png);
  background-repeat: repeat-y;
  width: 930px;
  min-height: 500px;
  padding: 15px 10px 15px 20px;
  margin-top: -35px; }
  #main .inner p {
    font: normal 14px "Georgia", Times, sans-serif;
    line-height: 1.5em; }
  #main .inner h1 {
    font: normal 20px "ubuntucondensed", Arial, sans-serif;
    color: #380c3d;
    margin-top: 0; }
    #main .inner h1.page {
      width: 905px;
      margin: 0;
      margin-bottom: 22px;
      font-size: 29px;
      background: url(../img/bg-dourado.png) repeat;
      line-height: 29px;
      padding: 13px 0 15px 15px;
      text-transform: uppercase; }

.pagination.center,
.pagination.center ul {
  float: left;
  position: relative; }

.pagination.center {
  left: 50%; }

.pagination.center ul {
  left: -50%; }

.pagination ul li {
  float: left;
  list-style-type: none;
  margin-right: 5px; }
  .pagination ul li a, .pagination ul li a:visited {
    text-decoration: none;
    color: #4d4d4d;
    font-family: "ubuntucondensed", "arial", "helvetica", sans-serif;
    font-size: 14px; }

/*****Cabeçalho*****/
body > header {
  width: 100%;
  height: 240px;
  background: url(../img/bg-roxo.png) repeat; }
  body > header #logo-maior {
    display: block;
    width: 145px;
    height: 156px;
    margin-top: 20px;
    float: left; }
  body > header #logo-menor {
    position: absolute;
    width: 55px;
    height: 45px;
    margin-top: -74px;
    margin-left: 73px; }
  body > header #frase {
    position: absolute;
    top: 31px;
    left: 230px; }
    body > header #frase p {
      font-family: 'Georgia', 'Times New Roman', serif;
      font-size: 20px;
      color: #bdb566;
      font-style: italic; }
  body > header .linha-topo {
    width: 100%;
    height: 5px;
    background-color: #bdb566; }
  body > header .linha-pre {
    width: 74px;
    height: 1px;
    background-color: #bdb566;
    margin-top: -54px;
    float: left; }
  body > header .linha-pos {
    width: 100%;
    height: 1px;
    background-color: #bdb566;
    position: absolute;
    top: -20px;
    right: 0; }
  body > header .contato {
    margin-top: 29px;
    float: right; }
    body > header .contato p {
      margin-top: 0;
      font-family: "ubuntucondensed", "arial", "helvetica", sans-serif;
      font-size: 16px;
      color: #bdb566;
      margin-bottom: 4px;
      text-align: right; }
      body > header .contato p small {
        font-size: 14px;
        color: #8c883f; }
        body > header .contato p small a {
          color: #8c883f;
          text-decoration: none; }
          body > header .contato p small a:hover {
            color: #bdb566; }
  body > header nav {
    position: absolute;
    right: 0;
    top: 140px; }
    body > header nav ul {
      float: right;
      margin: 0;
      padding: 0;
      list-style-type: none; }
      body > header nav ul li {
        float: left; }
        body > header nav ul li a, body > header nav ul li a:visited {
          font-family: "ubuntucondensed", "arial", "helvetica", sans-serif;
          font-size: 14px;
          color: white;
          text-transform: uppercase;
          text-decoration: none;
          padding: 18px 15px 11px;
          line-height: 1em; }
          body > header nav ul li a:hover, body > header nav ul li a.active, body > header nav ul li a:visited:hover, body > header nav ul li a:visited.active {
            background: #bdb566;
            color: #380c3d; }

.entrevistas-home {
  float: left;
  width: 265px;
  margin-left: 25px; }
  .entrevistas-home h1, .entrevistas-home h1 a, .entrevistas-home h2, .entrevistas-home h2 a {
    color: #8c883f !important; }
  .entrevistas-home h2 {
    margin-bottom: 0; }
  .entrevistas-home p {
    margin-top: 10px;
    line-height: 1.5em !important;
    border-bottom: solid 1px #ddd;
    height: 54px; }
    .entrevistas-home p a {
      text-decoration: none;
      color: inherit; }
    .entrevistas-home p .more {
      color: #ba953d;
      font-size: 19px !important; }
  .entrevistas-home h2 a {
    text-decoration: none;
    font-weight: normal;
    font-family: "ubuntucondensed", "arial", "helvetica", sans-serif;
    font-size: 16px;
    display: block;
    line-height: 1.2em; }
  .entrevistas-home a.more {
    color: #8C883F;
    text-decoration: none;
    font-size: 17px; }

/*****Home*****/
#main.home .inner #banner {
  width: 630px;
  height: 250px;
  float: left;
  margin-bottom: 24px; }
  #main.home .inner #banner img {
    border: solid 1px #ddd; }
#main.home .inner .chamadas {
  width: 595px;
  margin-left: 10px;
  float: left; }
  #main.home .inner .chamadas .chamada {
    width: 271px;
    margin-right: 45px;
    float: left; }
    #main.home .inner .chamadas .chamada p {
      line-height: 1.3em;
      font-size: 13px;
      height: 65px; }
    #main.home .inner .chamadas .chamada#chamada-atuacao {
      margin-right: 3px;
      float: right; }
    #main.home .inner .chamadas .chamada #more, #main.home .inner .chamadas .chamada #more:visited {
      font: normal 14px "Georgia", Times, sans-serif;
      font-weight: bold;
      font-size: 16px;
      color: #380c3d;
      text-decoration: none; }
      #main.home .inner .chamadas .chamada #more:hover, #main.home .inner .chamadas .chamada #more:visited:hover {
        color: #8c883f; }
  #main.home .inner .chamadas .separador-horizontal {
    width: 590px;
    height: 7px;
    margin: 27px 0 10px;
    background: url(../img/separador-horizontal.png); }
  #main.home .inner .chamadas .noticia-bloco {
    width: 180px;
    float: left;
    padding-left: 7px;
    border-left: solid 1px #8c883f;
    margin-right: 13px; }
    #main.home .inner .chamadas .noticia-bloco header {
      height: 35px;
      background: none; }
      #main.home .inner .chamadas .noticia-bloco header h1, #main.home .inner .chamadas .noticia-bloco header a, #main.home .inner .chamadas .noticia-bloco header a:visited {
        font-size: 16px;
        color: #bdb566;
        text-decoration: none; }
    #main.home .inner .chamadas .noticia-bloco .conteudo {
      margin-top: 8px;
      height: 32px; }
      #main.home .inner .chamadas .noticia-bloco .conteudo p {
        margin: 0;
        font-size: 13px; }
      #main.home .inner .chamadas .noticia-bloco .conteudo .more, #main.home .inner .chamadas .noticia-bloco .conteudo .more:visited {
        text-decoration: none;
        color: #bdb566;
        font-size: 14px; }
#main.home .inner .separador-vertical {
  width: 7px;
  height: 296px;
  margin: 0 27px 0 23px;
  background: url(../img/separador-vertical.png);
  float: left; }
#main.home .inner .eventos {
  width: 590px;
  float: left; }
  #main.home .inner .eventos h1 {
    color: #8c883f;
    margin-top: 12px; }
  #main.home .inner .eventos .evento-bloco {
    float: left;
    width: 280px;
    height: 63px;
    border-bottom: solid 1px #8c883f;
    margin-bottom: 20px; }
    #main.home .inner .eventos .evento-bloco.segundo {
      float: right; }
    #main.home .inner .eventos .evento-bloco:hover .evento-data {
      background: #666;
      color: #BCBCBC; }
  #main.home .inner .eventos .evento-data {
    width: 83px;
    height: 63px;
    float: left;
    background: #8c883f;
    text-align: center; }
    #main.home .inner .eventos .evento-data p {
      color: #fff;
      font-family: "ubuntucondensed", "arial", "helvetica", sans-serif;
      margin: 0;
      line-height: 1em !important; }
      #main.home .inner .eventos .evento-data p.data-dia {
        font-size: 30px !important;
        margin-top: 6px; }
      #main.home .inner .eventos .evento-data p.data-mes {
        font-size: 16px !important; }
  #main.home .inner .eventos .evento-titulo {
    float: left;
    width: 185px;
    padding-left: 10px; }
    #main.home .inner .eventos .evento-titulo h1 {
      color: #666;
      margin-top: 0;
      font-size: 16px; }
  #main.home .inner .eventos h1 a, #main.home .inner .eventos h1 a:visited {
    text-decoration: none;
    color: #666;
    font-size: 16px; }
#main.home .inner .entrevistas-home h1 {
  color: #8c883f; }
#main.home .inner .entrevistas-home .more {
  text-decoration: none;
  color: #8c883f;
  font-size: 17px; }
#main.home .inner .entrevistas-home a {
  text-decoration: none;
  color: #4d4d4d; }
  #main.home .inner .entrevistas-home a:hover {
    color: #8c883f; }
#main.home .separador-parceiros {
  display: block;
  margin: 0 auto;
  width: 890px;
  height: 7px;
  margin-top: 28px;
  background: url(../img/separador-horizontal.png); }
#main.home .parceiros-container {
  display: block;
  width: 890px;
  margin: 0 auto;
  position: relative; }
  #main.home .parceiros-container h1 {
    margin-top: 28px;
    color: #554B56;
    margin-bottom: 31px; }
#main.home .parceiros-slider-wrapper {
  display: block;
  width: 800px;
  margin: 0 auto;
  margin-bottom: 15px; }
#main.home .parceiro {
  text-align: center; }
#main.home #ui-carousel-next, #main.home #ui-carousel-prev {
  display: block;
  width: 11px;
  height: 20px;
  background: url(../img/esquerda.png);
  position: absolute;
  text-indent: -9999px;
  top: 86px;
  left: 0;
  z-index: 2000; }
#main.home #ui-carousel-next {
  background: url(../img/direita.png);
  left: auto;
  right: 0; }

.sombra-parceiros {
  width: 100%;
  height: 190px;
  position: relative;
  background: rgba(0, 0, 0, 0.2);
  margin-top: -190px;
  z-index: 1000; }

#main.home .noticias-widget {
  width: 880px;
  min-height: 130px;
  padding: 20px;
  background: #DDD;
  margin: 3px 0 25px 0; }
  #main.home .noticias-widget h1 {
    font-size: 24px !important;
    display: inline-block;
    float: left;
    margin-bottom: 20px; }
  #main.home .noticias-widget .barra-topo {
    width: 586px;
    height: 1px;
    background: #BEB4BF;
    float: left;
    margin: 23px 0 0 10px; }
  #main.home .noticias-widget .todas {
    font-family: "ubuntucondensed", "arial", "helvetica", sans-serif;
    text-decoration: none;
    color: #968F9F;
    margin-top: 10px;
    display: block;
    float: left;
    margin: 8px 0 0 12px; }
    #main.home .noticias-widget .todas:hover {
      color: #380c3d; }
  #main.home .noticias-widget .noticia-bloco {
    float: left;
    width: 240px;
    padding-left: 46px;
    padding-right: 33px; }
    #main.home .noticias-widget .noticia-bloco h2 {
      font-family: "ubuntucondensed", "arial", "helvetica", sans-serif;
      font-size: 16px;
      font-weight: normal;
      margin-top: 0;
      margin-bottom: 0; }
      #main.home .noticias-widget .noticia-bloco h2 a {
        text-decoration: none;
        color: #43124A; }
        #main.home .noticias-widget .noticia-bloco h2 a:hover {
          color: #8c883f; }
    #main.home .noticias-widget .noticia-bloco p {
      margin: 0;
      margin-top: 3px;
      font-size: 14px !important; }
      #main.home .noticias-widget .noticia-bloco p a {
        color: inherit;
        text-decoration: none; }
    #main.home .noticias-widget .noticia-bloco a.more {
      text-decoration: none;
      font-size: 17px;
      color: #421149 !important; }
  #main.home .noticias-widget .separador-vertical-noticias {
    width: 1px;
    height: 110px;
    background: #FFF;
    float: left; }
#main.home .boletins h1 {
  margin-bottom: 4px; }
#main.home .boletins span {
  font-family: 'Georgia', 'Times New Roman', serif;
  font-size: 12px;
  color: #535353;
  margin-bottom: 3px; }
#main.home .boletins form {
  margin-top: 4px; }
#main.home .boletins .inputs {
  width: 235px;
  float: left;
  /* firefox 19+ */
  /* ie */ }
  #main.home .boletins .inputs input {
    width: 225px;
    padding-left: 10px;
    height: 33px;
    background: #DDD;
    border: none;
    margin-bottom: 4px;
    font-family: "ubuntucondensed", "arial", "helvetica", sans-serif;
    color: #5E5E5E; }
  #main.home .boletins .inputs ::-webkit-input-placeholder {
    color: #5E5E5E; }
  #main.home .boletins .inputs ::-moz-placeholder {
    color: #5E5E5E; }
  #main.home .boletins .inputs :-ms-input-placeholder {
    color: #5E5E5E; }
  #main.home .boletins .inputs input:-moz-placeholder {
    color: #5E5E5E; }
#main.home .boletins input[type="submit"] {
  width: 17px;
  height: 74px;
  float: left;
  border: none;
  outline: none;
  background-color: #380c3d;
  background-image: url(../img/submit-boletins.png);
  background-repeat: no-repeat;
  background-position: center center;
  margin-left: 6px; }
  #main.home .boletins input[type="submit"]:hover {
    background-color: #8c883f; }
#main.home .ipade {
  display: block;
  float: left;
  width: 258px;
  height: 150px;
  border: 1px solid #DDD;
  background: url(../img/ipade.png) no-repeat center;
  text-align: center;
  font-family: "ubuntucondensed", "arial", "helvetica", sans-serif;
  text-decoration: none;
  margin-top: 16px; }
  #main.home .ipade span {
    display: block; }
  #main.home .ipade .cinza {
    font-size: 18px;
    color: #5E5E5E;
    margin-top: 22px; }
  #main.home .ipade .maior {
    font-size: 26px;
    color: #380c3d;
    margin-top: 0px; }
  #main.home .ipade .menor {
    font-size: 18px;
    color: #380c3d; }
  #main.home .ipade:hover {
    border-color: #380c3d; }

/*****Apresentação*****/
#main.apresentacao .inner .content {
  width: 600px;
  float: left;
  margin-left: 15px; }
  #main.apresentacao .inner .content p {
    margin-top: 0;
    width: 580px;
    line-height: 1.5em; }
#main.apresentacao .inner .sidebar {
  width: 260px;
  float: right;
  margin-right: 15px; }
  #main.apresentacao .inner .sidebar h1 {
    margin-top: -3px;
    font-size: 18px; }
  #main.apresentacao .inner .sidebar p {
    font-size: 16px;
    margin: 0;
    font-family: "ubuntucondensed", "arial", "helvetica", sans-serif;
    line-height: 1.4em; }
    #main.apresentacao .inner .sidebar p small {
      font-size: 14px; }
  #main.apresentacao .inner .sidebar .links {
    margin-top: 34px; }
    #main.apresentacao .inner .sidebar .links .parceiros-accordion {
      border-top: solid 1px #c9c9c9; }
      #main.apresentacao .inner .sidebar .links .parceiros-accordion p {
        font-size: 14px;
        margin-top: 10px;
        margin-bottom: 25px; }
      #main.apresentacao .inner .sidebar .links .parceiros-accordion .ui-accordion-content {
        border-bottom: solid 1px #c9c9c9; }
    #main.apresentacao .inner .sidebar .links h3 {
      display: block;
      width: 260px;
      padding: 12px 0;
      text-decoration: none;
      font-family: "ubuntucondensed", "arial", "helvetica", sans-serif;
      font-size: 14px;
      color: #4d4d4d;
      border-bottom: solid 1px #c9c9c9;
      background: url(../img/seta.png);
      background-position: 247px center;
      background-repeat: no-repeat;
      margin: 0;
      font-weight: normal;
      cursor: pointer;
      outline: none; }
    #main.apresentacao .inner .sidebar .links ul {
      margin: 0;
      padding: 0;
      list-style-type: none; }
      #main.apresentacao .inner .sidebar .links ul li a, #main.apresentacao .inner .sidebar .links ul li a:visited {
        display: block;
        width: 260px;
        padding: 12px 0;
        text-decoration: none;
        font-family: "ubuntucondensed", "arial", "helvetica", sans-serif;
        font-size: 14px;
        color: #4d4d4d;
        border-bottom: solid 1px #c9c9c9;
        background: url(../img/seta.png);
        background-position: 247px center;
        background-repeat: no-repeat; }

/*****Equipe*****/
#main.equipe .inner .integrante-wrapper {
  margin-bottom: 42px; }
  #main.equipe .inner .integrante-wrapper.principal .integrante-nome {
    background: none;
    font-size: 25px;
    height: 25px;
    line-height: 25px;
    margin-top: 0; }
#main.equipe .inner .integrante-imagem {
  width: 216px;
  float: left;
  margin-left: 14px; }
#main.equipe .inner .integrante-nome {
  width: 646px;
  height: 43px;
  background: #D4CD89;
  padding-left: 44px;
  line-height: 48px; }
#main.equipe .inner .integrante-conteudo {
  width: 690px;
  float: right; }
#main.equipe .inner .integrante-descricao {
  width: 630px;
  margin-left: 44px; }

/*****Atuação*****/
#main.atuacao .inner .content {
  width: 580px;
  float: left;
  margin-left: 50px;
  margin-right: 15px; }
  #main.atuacao .inner .content .text p {
    margin: 0;
    margin-bottom: 10px; }
  #main.atuacao .inner .content .text ul {
    padding-left: 22px; }
    #main.atuacao .inner .content .text ul li {
      font: normal 14px "Georgia", Times, sans-serif;
      color: #4d4d4d;
      margin-bottom: 5px; }
#main.atuacao .inner .sidebar {
  width: 260px;
  float: left;
  margin-left: 15px; }
  #main.atuacao .inner .sidebar .links {
    margin-top: 5px; }
    #main.atuacao .inner .sidebar .links ul {
      margin: 0;
      padding: 0;
      list-style-type: none; }
      #main.atuacao .inner .sidebar .links ul li a, #main.atuacao .inner .sidebar .links ul li a:visited {
        display: block;
        width: 260px;
        padding: 12px 0;
        text-decoration: none;
        font-family: "ubuntucondensed", "arial", "helvetica", sans-serif;
        font-size: 13px;
        color: #4d4d4d;
        border-bottom: solid 1px #c9c9c9;
        background: url(../img/seta.png);
        background-position: 247px center;
        background-repeat: no-repeat; }
        #main.atuacao .inner .sidebar .links ul li a.active, #main.atuacao .inner .sidebar .links ul li a:hover, #main.atuacao .inner .sidebar .links ul li a:visited.active, #main.atuacao .inner .sidebar .links ul li a:visited:hover {
          color: #380c3d;
          background: url(../img/seta-active.png);
          background-position: 247px center;
          background-repeat: no-repeat; }

/*****Notícias*****/
#main.noticias .noticia-arquivo {
  width: 73px;
  padding-left: 41px;
  height: 28px;
  line-height: 26px;
  text-decoration: none;
  font-size: 16px !important;
  margin: 14px auto 24px auto;
  background-color: #dddddd;
  background-image: url(../img/icone-pdf.png);
  background-repeat: no-repeat;
  background-position: 17px center; }
#main.noticias .inner .content {
  width: 580px;
  float: left;
  margin-left: 50px;
  margin-right: 15px; }
  #main.noticias .inner .content a {
    display: block; }
  #main.noticias .inner .content img {
    float: left;
    border: solid 1px #c9c9c9;
    margin: 3px 12px 1px 0; }
  #main.noticias .inner .content .text p {
    margin: 0;
    margin-bottom: 10px; }
  #main.noticias .inner .content .text ul, #main.noticias .inner .content .text ol {
    padding-left: 22px; }
    #main.noticias .inner .content .text ul li, #main.noticias .inner .content .text ol li {
      font: normal 14px "Georgia", Times, sans-serif;
      color: #4d4d4d;
      margin-bottom: 5px; }
  #main.noticias .inner .content .text article {
    border-bottom: solid 1px #c9c9c9; }
    #main.noticias .inner .content .text article.post {
      border-bottom: none; }
    #main.noticias .inner .content .text article .voltar, #main.noticias .inner .content .text article .voltar:visited {
      display: block;
      width: 556px;
      font-family: "ubuntucondensed", "arial", "helvetica", sans-serif;
      font-size: 14px;
      color: #380c3d;
      text-transform: uppercase;
      text-decoration: none;
      padding: 12px 0 12px 20px;
      border-bottom: solid 1px #c9c9c9;
      border-top: solid 1px #c9c9c9;
      background: url(../img/seta-voltar-active.png);
      background-position: center left;
      background-repeat: no-repeat;
      margin-top: 10px; }
  #main.noticias .inner .content .text .conteudo a, #main.noticias .inner .content .text .conteudo a:visited {
    font-family: "ubuntucondensed", "arial", "helvetica", sans-serif;
    font-size: 12px;
    color: #380c3d; }
  #main.noticias .inner .content .text .conteudo .data {
    font: normal 14px "Georgia", Times, sans-serif; }
    #main.noticias .inner .content .text .conteudo .data p {
      margin-top: 15px;
      margin-bottom: 0; }
  #main.noticias .inner .content .text .conteudo h1 {
    margin-top: 0; }
    #main.noticias .inner .content .text .conteudo h1 a, #main.noticias .inner .content .text .conteudo h1 a:visited {
      text-decoration: none;
      color: #380c3d;
      font-size: 20px; }
  #main.noticias .inner .content .text.post p {
    margin: 0;
    margin-bottom: 10px; }
  #main.noticias .inner .content .text.post ul {
    padding-left: 22px; }
    #main.noticias .inner .content .text.post ul li {
      font: normal 14px "Georgia", Times, sans-serif;
      color: #4d4d4d;
      margin-bottom: 5px; }
  #main.noticias .inner .content .text.post article {
    border: none; }
  #main.noticias .inner .content .text.post .conteudo .data {
    font: normal 14px "Georgia", Times, sans-serif;
    padding: 12px 0;
    border-bottom: solid 1px #c9c9c9;
    border-top: solid 1px #c9c9c9; }
    #main.noticias .inner .content .text.post .conteudo .data p {
      margin: 0;
      font-size: 14px; }
  #main.noticias .inner .content .text.post .conteudo h1 {
    margin-top: 11px; }
  #main.noticias .inner .content .text.post .conteudo .resumo {
    font-size: 13px;
    font-style: italic;
    padding: 12px;
    margin: 0;
    background: url(../img/bg-dourado.png);
    margin-bottom: 12px; }
#main.noticias .inner .sidebar {
  width: 260px;
  float: left;
  margin-left: 15px; }
  #main.noticias .inner .sidebar .links {
    margin-top: 5px; }
    #main.noticias .inner .sidebar .links ul {
      margin: 0;
      padding: 0;
      list-style-type: none; }
      #main.noticias .inner .sidebar .links ul li a, #main.noticias .inner .sidebar .links ul li a:visited {
        display: block;
        width: 260px;
        padding: 12px 0;
        text-decoration: none;
        font-family: "ubuntucondensed", "arial", "helvetica", sans-serif;
        font-size: 14px;
        color: #4d4d4d;
        border-bottom: solid 1px #c9c9c9;
        background: url(../img/seta.png);
        background-position: 247px center;
        background-repeat: no-repeat; }
        #main.noticias .inner .sidebar .links ul li a.active, #main.noticias .inner .sidebar .links ul li a:hover, #main.noticias .inner .sidebar .links ul li a:visited.active, #main.noticias .inner .sidebar .links ul li a:visited:hover {
          color: #380c3d;
          background: url(../img/seta-active.png);
          background-position: 247px center;
          background-repeat: no-repeat; }

/*****Atuação*****/
#main.agenda .inner .content {
  width: 580px;
  float: left;
  margin-left: 50px;
  margin-right: 15px; }
  #main.agenda .inner .content .text #accordion {
    border-bottom: solid 1px #c9c9c9; }
    #main.agenda .inner .content .text #accordion .ui-state-active, #main.agenda .inner .content .text #accordion .ui-accordion-content-active {
      background-color: #f4f9f4; }
    #main.agenda .inner .content .text #accordion .ui-accordion-content-active {
      padding-bottom: 5px; }
    #main.agenda .inner .content .text #accordion .ui-accordion-header {
      padding-left: 32px;
      background-image: url(../img/agenda-mais.png);
      background-repeat: no-repeat;
      background-position: left 14px; }
      #main.agenda .inner .content .text #accordion .ui-accordion-header.ui-state-active {
        background-image: url(../img/agenda-menos.png);
        background-repeat: no-repeat;
        background-position: left 14px; }
    #main.agenda .inner .content .text #accordion .ui-accordion-content {
      padding-left: 32px;
      padding-right: 32px;
      padding-bottom: 12px; }
      #main.agenda .inner .content .text #accordion .ui-accordion-content a {
        color: #380c3d; }
    #main.agenda .inner .content .text #accordion .header, #main.agenda .inner .content .text #accordion .header:visited {
      display: block;
      width: 548px;
      padding-top: 12px;
      padding-bottom: 12px;
      border-top: solid 1px #c9c9c9;
      text-decoration: none;
      outline: none; }
      #main.agenda .inner .content .text #accordion .header h1, #main.agenda .inner .content .text #accordion .header:visited h1 {
        margin: 0;
        font-size: 20px; }
      #main.agenda .inner .content .text #accordion .header p, #main.agenda .inner .content .text #accordion .header:visited p {
        margin: 0;
        font-size: 15px;
        color: #4d4d4d; }
  #main.agenda .inner .content .text .evento-realizado p {
    margin-bottom: 10px; }
  #main.agenda .inner .content .text p {
    margin: 0;
    margin-bottom: 3px;
    color: #380c3d;
    font-size: 13px; }
  #main.agenda .inner .content .text ul {
    padding-left: 22px; }
    #main.agenda .inner .content .text ul li {
      font: normal 14px "Georgia", Times, sans-serif;
      color: #4d4d4d;
      margin-bottom: 5px; }
  #main.agenda .inner .content .text article {
    border-bottom: solid 1px #c9c9c9; }
    #main.agenda .inner .content .text article.post {
      border-bottom: none; }
  #main.agenda .inner .content .text .conteudo .data {
    font: normal 14px "Georgia", Times, sans-serif; }
    #main.agenda .inner .content .text .conteudo .data p {
      margin-top: 15px;
      margin-bottom: 0; }
  #main.agenda .inner .content .text .conteudo h1 {
    margin-top: 0; }
    #main.agenda .inner .content .text .conteudo h1 a, #main.agenda .inner .content .text .conteudo h1 a:visited {
      text-decoration: none;
      color: #380c3d; }
  #main.agenda .inner .content .text.post p {
    margin: 0;
    margin-bottom: 10px; }
  #main.agenda .inner .content .text.post ul {
    padding-left: 22px; }
    #main.agenda .inner .content .text.post ul li {
      font: normal 14px "Georgia", Times, sans-serif;
      color: #4d4d4d;
      margin-bottom: 5px; }
  #main.agenda .inner .content .text.post article {
    border: none; }
  #main.agenda .inner .content .text.post .conteudo .data {
    font: normal 14px "Georgia", Times, sans-serif;
    padding: 12px 0;
    border-bottom: solid 1px #c9c9c9;
    border-top: solid 1px #c9c9c9; }
    #main.agenda .inner .content .text.post .conteudo .data p {
      margin: 0;
      font-size: 14px; }
  #main.agenda .inner .content .text.post .conteudo h1 {
    margin-top: 11px; }
  #main.agenda .inner .content .text.post .conteudo .resumo {
    font-size: 13px;
    font-style: italic;
    padding: 12px;
    margin: 0;
    background: url(../img/bg-dourado.png);
    margin-bottom: 12px; }
  #main.agenda .inner .content .text.post .conteudo .voltar, #main.agenda .inner .content .text.post .conteudo .voltar:visited {
    display: block;
    width: 100%;
    font-family: "ubuntucondensed", "arial", "helvetica", sans-serif;
    font-size: 14px;
    color: #380c3d;
    text-transform: uppercase;
    text-decoration: none;
    padding: 12px 0 12px 20px;
    border-bottom: solid 1px #c9c9c9;
    border-top: solid 1px #c9c9c9;
    background: url(../img/seta-voltar-active.png);
    background-position: center left;
    background-repeat: no-repeat; }
#main.agenda .inner .sidebar {
  width: 260px;
  float: left;
  margin-left: 15px; }
  #main.agenda .inner .sidebar .links {
    margin-top: 5px; }
    #main.agenda .inner .sidebar .links ul {
      margin: 0;
      padding: 0;
      list-style-type: none; }
      #main.agenda .inner .sidebar .links ul li a, #main.agenda .inner .sidebar .links ul li a:visited {
        display: block;
        width: 260px;
        padding: 12px 0;
        text-decoration: none;
        font-family: "ubuntucondensed", "arial", "helvetica", sans-serif;
        font-size: 14px;
        color: #4d4d4d;
        border-bottom: solid 1px #c9c9c9;
        background: url(../img/seta.png);
        background-position: 247px center;
        background-repeat: no-repeat; }
        #main.agenda .inner .sidebar .links ul li a.active, #main.agenda .inner .sidebar .links ul li a:hover, #main.agenda .inner .sidebar .links ul li a:visited.active, #main.agenda .inner .sidebar .links ul li a:visited:hover {
          color: #380c3d;
          background: url(../img/seta-active.png);
          background-position: 247px center;
          background-repeat: no-repeat; }

/*****Na Mídia***/
.midia .sidebar {
  float: left;
  width: 282px;
  margin-left: 15px; }
  .midia .sidebar .imprensa-imagem {
    border: solid 1px #D0D0D0; }
  .midia .sidebar .imprensa-contatos {
    width: 246px;
    height: 183px;
    padding-left: 36px;
    margin-top: 44px;
    background-color: #dddddd;
    background-image: url(../img/marca-br7.png);
    background-repeat: no-repeat;
    background-position: 160px 71px;
    font-family: "ubuntucondensed", "arial", "helvetica", sans-serif;
    color: #5F5F5F;
    font-size: 18px; }
    .midia .sidebar .imprensa-contatos h1 {
      font-size: 25px !important;
      margin-top: 24px !important; }
    .midia .sidebar .imprensa-contatos .imprensa-nome {
      margin-bottom: 14px; }
    .midia .sidebar .imprensa-contatos .imprensa-telefone1 {
      margin-bottom: 3px; }
.midia .content {
  width: 580px;
  float: right;
  margin-right: 15px; }
  .midia .content .post p {
    margin: 0;
    margin-bottom: 10px; }
  .midia .content .post ul {
    padding-left: 22px; }
    .midia .content .post ul li {
      font: normal 14px "Georgia", Times, sans-serif;
      color: #4d4d4d;
      margin-bottom: 5px; }
  .midia .content .post article {
    border: none; }
  .midia .content .post .conteudo .data {
    font: normal 14px "Georgia", Times, sans-serif;
    padding: 12px 0;
    border-bottom: solid 1px #c9c9c9;
    border-top: solid 1px #c9c9c9; }
    .midia .content .post .conteudo .data p {
      margin: 0;
      font-size: 14px; }
  .midia .content .post .conteudo h1 {
    margin-top: 11px !important; }
  .midia .content .post .conteudo .resumo {
    font-size: 13px;
    font-style: italic;
    padding: 12px;
    margin: 0;
    background: url(../img/bg-dourado.png);
    margin-bottom: 12px; }
.midia article {
  border-bottom: solid 1px #c9c9c9; }
  .midia article.post {
    border-bottom: none; }
  .midia article .voltar, .midia article .voltar:visited {
    display: block;
    width: 556px;
    font-family: "ubuntucondensed", "arial", "helvetica", sans-serif;
    font-size: 14px;
    color: #380c3d;
    text-transform: uppercase;
    text-decoration: none;
    padding: 12px 0 12px 20px;
    border-bottom: solid 1px #c9c9c9;
    border-top: solid 1px #c9c9c9;
    background: url(../img/seta-voltar-active.png);
    background-position: center left;
    background-repeat: no-repeat;
    margin-top: 10px; }
.midia .conteudo a, .midia .conteudo a:visited {
  font-family: "ubuntucondensed", "arial", "helvetica", sans-serif;
  font-size: 12px;
  color: #380c3d; }
.midia .conteudo .data {
  font: normal 14px "Georgia", Times, sans-serif; }
  .midia .conteudo .data p {
    margin-top: 15px;
    margin-bottom: 0; }
.midia .conteudo h1 {
  margin-top: 0; }
  .midia .conteudo h1 a, .midia .conteudo h1 a:visited {
    text-decoration: none;
    color: #380c3d;
    font-size: 20px; }

/*****Fotos*****/
.galeria, .galeria:visited {
  display: block;
  width: 178px;
  float: left;
  margin-right: 20px;
  text-decoration: none;
  outline: none; }
  .galeria:hover img, .galeria:visited:hover img {
    border: solid 1px #380c3d; }
  .galeria:hover h1, .galeria:visited:hover h1 {
    color: #380c3d; }
  .galeria h1, .galeria:visited h1 {
    font-size: 14px;
    color: #4d4d4d; }
  .galeria img, .galeria:visited img {
    border: solid 1px #A8A8A8; }

#main.fotos .galeria, #main.fotos .galeria:visited {
  display: block;
  width: 200px;
  float: left;
  margin: 10px;
  text-decoration: none;
  outline: none; }
  #main.fotos .galeria:hover img, #main.fotos .galeria:visited:hover img {
    border: solid 1px #380c3d; }
  #main.fotos .galeria:hover h1, #main.fotos .galeria:visited:hover h1 {
    color: #380c3d; }
  #main.fotos .galeria h1, #main.fotos .galeria:visited h1 {
    font-size: 14px;
    color: #4d4d4d; }
  #main.fotos .galeria img, #main.fotos .galeria:visited img {
    border: solid 1px #A8A8A8; }

.pp_description p {
  color: #fff;
  margin-top: 0; }

.ppt {
  display: none; }

footer {
  width: 100%;
  height: 43px;
  background: url(../img/bg-roxo.png); }
  footer .copy {
    display: block;
    float: left;
    font: normal 14px "Georgia", Times, sans-serif;
    color: #fff;
    font-size: 11px;
    line-height: 43px;
    padding-left: 25px; }
  footer .trupe {
    display: block;
    float: right;
    font: normal 14px "Georgia", Times, sans-serif;
    color: #fff;
    font-size: 11px;
    line-height: 43px;
    padding-right: 25px; }
    footer .trupe a, footer .trupe a:visited {
      color: #fff; }

#main.links .inner img {
  float: left;
  border: solid 1px #c9c9c9;
  margin-left: 14px; }
#main.links .inner .sidebar {
  width: 583px;
  float: right;
  margin-right: 15px; }
  #main.links .inner .sidebar .links ul {
    margin: 0;
    padding: 0;
    list-style-type: none; }
    #main.links .inner .sidebar .links ul li a, #main.links .inner .sidebar .links ul li a:visited {
      display: block;
      width: 583px;
      padding: 12px 0;
      text-decoration: none;
      font-family: "ubuntucondensed", "arial", "helvetica", sans-serif;
      font-size: 14px;
      color: #4d4d4d;
      border-bottom: solid 1px #c9c9c9;
      background: url(../img/seta.png);
      background-position: 570px center;
      background-repeat: no-repeat; }
      #main.links .inner .sidebar .links ul li a.active, #main.links .inner .sidebar .links ul li a:hover, #main.links .inner .sidebar .links ul li a:visited.active, #main.links .inner .sidebar .links ul li a:visited:hover {
        color: #380c3d;
        background: url(../img/seta-active.png);
        background-position: 570px center;
        background-repeat: no-repeat; }

/*
 * Contato
 */
.roxo {
  color: #380c3d; }

#ajax-loader {
  display: none; }

#main.contato .inner #endereco-contato p {
  font-family: "ubuntucondensed", "arial", "helvetica", sans-serif;
  font-size: 22px;
  margin: 0; }
#main.contato .inner .frame-contato {
  border: solid 1px #c9c9c9;
  margin-top: 14px; }
#main.contato .inner .right {
  margin-right: 14px; }
#main.contato .inner #endereco-mail h1 {
  font-size: 28px;
  margin-top: -4px; }
#main.contato .inner #endereco-mail p {
  font-size: 22px;
  color: #380c3d;
  margin: 0;
  font-family: "ubuntucondensed", "arial", "helvetica", sans-serif; }
#main.contato .inner #endereco-correspondente h1 {
  font-size: 22px;
  margin: 0;
  margin-top: 10px; }
#main.contato .inner #endereco-correspondente p {
  font-family: "ubuntucondensed", "arial", "helvetica", sans-serif;
  font-size: 20px;
  margin: 0; }
#main.contato .inner .form {
  width: 390px;
  margin-top: -5px; }
  #main.contato .inner .form .hasPlaceholder {
    color: #6d6d6d;
    font-family: "ubuntucondensed", "arial", "helvetica", sans-serif;
    font-size: 13px;
    line-height: 32px; }
  #main.contato .inner .form #message {
    font-family: "ubuntucondensed", "arial", "helvetica", sans-serif;
    font-size: 13px;
    margin-bottom: 6px; }
    #main.contato .inner .form #message p {
      font-family: "ubuntucondensed", "arial", "helvetica", sans-serif; }
  #main.contato .inner .form form {
    width: 100%; }
    #main.contato .inner .form form input[type="text"], #main.contato .inner .form form textarea {
      width: 378px;
      padding-left: 10px;
      border: solid 1px #380c3d;
      color: #6d6d6d;
      font-family: "ubuntucondensed", "arial", "helvetica", sans-serif;
      font-size: 13px;
      margin-bottom: 6px; }
    #main.contato .inner .form form textarea {
      width: 376px;
      height: 235px;
      line-height: 32px; }
    #main.contato .inner .form form input::-webkit-input-placeholder, #main.contato .inner .form form textarea::-webkit-input-placeholder {
      color: #6d6d6d;
      font-family: "ubuntucondensed", "arial", "helvetica", sans-serif;
      font-size: 13px;
      line-height: 32px; }
    #main.contato .inner .form form input:-moz-placeholder, #main.contato .inner .form form textarea:-moz-placeholder {
      color: #6d6d6d;
      font-family: "ubuntucondensed", "arial", "helvetica", sans-serif;
      font-size: 13px;
      line-height: 32px; }
    #main.contato .inner .form form input[type="text"] {
      height: 32px;
      line-height: 32px; }
    #main.contato .inner .form form #submit {
      width: 110px;
      height: 36px;
      background: #380c3d;
      border: none;
      outline: none;
      color: #fff;
      font-size: 15px;
      font-family: "ubuntucondensed", "arial", "helvetica", sans-serif;
      text-transform: uppercase;
      float: right; }

/*
 * Fancybox
 */
/*! fancyBox v2.1.3 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  vertical-align: top; }

.fancybox-wrap {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8020; }

.fancybox-skin {
  position: relative;
  background: #af8250;
  color: #444;
  text-shadow: none;
  border: solid 10px #fff; }

.fancybox-opened {
  z-index: 8030; }

.fancybox-opened .fancybox-skin {
  -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5); }

.fancybox-outer, .fancybox-inner {
  position: relative; }

.fancybox-inner {
  overflow: hidden; }

.fancybox-type-iframe .fancybox-inner {
  -webkit-overflow-scrolling: touch; }

.fancybox-error {
  color: #444;
  font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 0;
  padding: 15px;
  white-space: nowrap; }

.fancybox-image, .fancybox-iframe {
  display: block;
  width: 100%;
  height: 100%; }

.fancybox-image {
  max-width: 100%;
  max-height: 100%; }

.fancybox-prev span {
  background: url("../img/seta-retrocede.png"); }

.fancybox-next span {
  background: url("../img/seta-avanca.png"); }

#fancybox-loading, .fancybox-close {
  background-image: url("../img/fancybox_sprite.png"); }

#fancybox-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -22px;
  margin-left: -22px;
  background-position: 0 -108px;
  opacity: 0.8;
  cursor: pointer;
  z-index: 8060; }

#fancybox-loading div {
  width: 44px;
  height: 44px;
  background: url("../img/fancybox_loading.gif") center center no-repeat; }

.fancybox-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 45px;
  height: 45px;
  cursor: pointer;
  z-index: 8040;
  background: url("../img/close.png"); }

.fancybox-nav {
  position: absolute;
  top: 0;
  width: 40%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
  background: transparent url("../img/blank.gif");
  /* helps IE */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  z-index: 8060; }

.fancybox-prev {
  left: 0; }

.fancybox-next {
  right: 0; }

.fancybox-nav.fancybox-next {
  left: 0; }

.fancybox-next span {
  left: 71px; }

.fancybox-nav span {
  position: absolute;
  bottom: 0;
  width: 14px;
  height: 27px;
  margin-bottom: 16px;
  margin-left: 36px;
  cursor: pointer;
  z-index: 8080; }

.fancybox-prev span {
  left: -15px; }

.fancybox-next span {
  right: -15px; }

.fancybox-nav:hover span {
  visibility: visible; }

.fancybox-tmp {
  position: absolute;
  top: -99999px;
  left: -99999px;
  visibility: hidden;
  max-width: 99999px;
  max-height: 99999px;
  overflow: visible !important; }

/* Overlay helper */
.fancybox-lock {
  overflow: hidden; }

.fancybox-overlay {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: none;
  z-index: 8010;
  background: url("../img/fancybox_overlay.png"); }

.fancybox-overlay-fixed {
  position: fixed;
  bottom: 0;
  right: 0; }

.fancybox-lock .fancybox-overlay {
  overflow: auto;
  overflow-y: scroll; }

/* Title helper */
.fancybox-title {
  font: normal 13px/20px "ubuntu",Helvetica,Arial,sans-serif;
  position: relative;
  text-shadow: none;
  z-index: 8050; }

.fancybox-opened .fancybox-title {
  visibility: visible; }

.fancybox-title-float-wrap {
  position: absolute;
  bottom: 0;
  margin-bottom: 0;
  z-index: 8050;
  text-align: center; }

.fancybox-title-float-wrap .child {
  display: inline-block;
  margin-right: 0%;
  padding: 0px 56px;
  background: transparent;
  /* Fallback for web browsers that doesn't support RGBa */
  background: #bdb566;
  opacity: .8;
  color: #4d4d4d;
  font-weight: bold;
  height: 60px;
  line-height: 60px;
  white-space: nowrap;
  font-family: "ubuntucondensed", "arial", "helvetica", sans-serif; }

.fancybox-title-outside-wrap {
  position: relative;
  margin-top: 10px;
  color: #fff; }

.fancybox-title-inside-wrap {
  padding-top: 10px; }

.fancybox-title-over-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  padding: 10px;
  background: #000;
  background: rgba(0, 0, 0, 0.8); }

#desc {
  position: relative;
  height: 60px;
  margin-top: -60px;
  padding-left: 142px; }

#descin {
  height: 48px;
  background: #380c3d;
  opacity: .8;
  padding-left: 17px;
  padding-top: 12px; }
  #descin p {
    font-family: "ubuntucondensed", "arial", "helvetica", sans-serif;
    color: white;
    margin: 0; }

/**
 * BxSlider v4.0 - Fully loaded, responsive content slider
 * http://bxslider.com
 *
 * Written by: Steven Wanderski, 2012
 * http://stevenwanderski.com
 * (while drinking Belgian ales and listening to jazz)
 *
 * CEO and founder of bxCreative, LTD
 * http://bxcreative.com
 */
/** RESET AND LAYOUT
===================================*/
.bx-wrapper {
  position: relative;
  margin: 0 auto 60px;
  padding: 0;
  *zoom: 1; }

.bx-wrapper img {
  max-width: 100%;
  display: block; }

/** THEME
===================================*/
.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
  position: absolute;
  bottom: -30px;
  width: 100%; }

/* LOADER */
.bx-wrapper .bx-loading {
  min-height: 50px;
  background: url(images/bx_loader.gif) center center no-repeat white;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000; }

/* PAGER */
.bx-wrapper .bx-pager {
  text-align: center;
  font-size: .85em;
  font-family: Arial;
  font-weight: bold;
  color: #666;
  padding-top: 20px; }

.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
  display: inline-block;
  *zoom: 1;
  *display: inline; }

.bx-wrapper .bx-pager.bx-default-pager a {
  background: #666;
  text-indent: -9999px;
  display: block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  outline: 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px; }

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
  background: #000; }

/* DIRECTION CONTROLS (NEXT / PREV) */
.bx-wrapper .bx-prev {
  left: 10px;
  background: url(images/controls.png) no-repeat 0 -32px; }

.bx-wrapper .bx-next {
  right: 10px;
  background: url(images/controls.png) no-repeat -43px -32px; }

.bx-wrapper .bx-prev:hover {
  background-position: 0 0; }

.bx-wrapper .bx-next:hover {
  background-position: -43px 0; }

.bx-wrapper .bx-controls-direction a {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  outline: 0;
  width: 32px;
  height: 32px;
  text-indent: -9999px;
  z-index: 9999; }

.bx-wrapper .bx-controls-direction a.disabled {
  display: none; }

/* AUTO CONTROLS (START / STOP) */
.bx-wrapper .bx-controls-auto {
  text-align: center; }

.bx-wrapper .bx-controls-auto .bx-start {
  display: block;
  text-indent: -9999px;
  width: 10px;
  height: 11px;
  outline: 0;
  background: url(images/controls.png) -86px -11px no-repeat;
  margin: 0 3px; }

.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active {
  background-position: -86px 0; }

.bx-wrapper .bx-controls-auto .bx-stop {
  display: block;
  text-indent: -9999px;
  width: 9px;
  height: 11px;
  outline: 0;
  background: url(images/controls.png) -86px -44px no-repeat;
  margin: 0 3px; }

.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active {
  background-position: -86px -33px; }

/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
  text-align: left;
  width: 80%; }

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
  right: 0;
  width: 35px; }

/* IMAGE CAPTIONS */
.bx-wrapper .bx-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #666666 \9;
  background: rgba(80, 80, 80, 0.75);
  width: 100%; }

.bx-wrapper .bx-caption span {
  color: #fff;
  font-family: Arial;
  display: block;
  font-size: .85em;
  padding: 10px; }

.banners-wrapper {
  width: 630px;
  height: 250px;
  float: left;
  margin-bottom: 24px; }

/*Prettyphoto*/
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Image replacement
 */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 100%; }

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {
  display: none !important;
  visibility: hidden; }

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
  *zoom: 1; }

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */ }
/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
   * Don't show links for images, or javascript/internal links
   */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group;
    /* h5bp.com/t */ }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
